/* Universal Selector */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white: #ffffff;
  --teal: #1f6ba1;
  --eggshell: rgb(221, 221, 221);
  --lightPurple: #e6e6fa;
  --helvetica: Arial, Helvetica, sans-serif;
  --darkBlue: #0000ff;
}

header {
  color: var(--white);
  font-family: var(--helvetica);
  font-size: 20%;
  width: 100%;
  top: 0;
}

body {
  margin: 0;
  font-family: var(--helvetica);
  background-color: var(--lightPurple);
}

container {
  position: relative;
  width: 100%;
}

nav {
  background-color: var(--teal);
  font-family: var(--helvetica);
  overflow: hidden;
  width: 100%;
  box-shadow: inset 0px 0px 8px var(--darkBlue), 0 0 15px var(--darkBlue);
}

/* Links within the Navigation bar */
nav a {
  float: right;
  color: var(--white);
  padding: 30px 30px;
  text-decoration: none;
  font-size: 25px;
}

/* Color changes when hovering over links*/
nav a:hover {
  background-color: var(--lightPurple);
  color: var(--teal);
}

p {
  line-height: 20px; /* within paragraph */
  margin-bottom: 30px; /* between paragraphs */
}

footer {
  width: 100%;
  height: 30px;
  line-height: 25px;
  color: var(--white);
  background-color: var(--teal);
  font-family: var(--helvetica);
  bottom: 0;
  text-align: center;
}

/* Classes */

.name {
  padding: 30px 30px;
  font-size: 25px;
  color: var(--white);
  float: left;
}

.portfolio-heading {
  position: absolute;
  bottom: 63%;
  right: 4%;
  background-color: var(--teal);
  color: var(--white);
  padding: 20px 20px 20px 20px;
  box-shadow: inset 0px 0px 8px var(--darkBlue), 0 0 15px var(--darkBlue);
}

.img-border {
  border: var(--teal);
}

.img3 {
  background-size: contain;
  height: 50%;
  width: 455%;
  padding-top: 0%;
}

/* .img4 {
  background-size: contain;
  height: 50%;
  width: 455%;
  margin: 100px 500px 500px 500px;

} */

.avatar {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-top: 0.8%;
  box-shadow: inset 0px 0px 8px var(--teal), 0 0 15px var(--teal);
}

.welcome-note {
  height: 300px;
  width: 100%;
}

.contact-me-link {
  margin: 25px 50px 50px 25px;
  text-shadow: var(--teal);
  size: 60px;
  text-align: left;
  color: var(--teal);
  font-size: 100%;
  font-style: Arial, Helvetica, sans-serif;
  border-bottom: var(--darkBlue) 0.125em solid;
  text-decoration: none;
}

/* Verticle Line */
.vl-box-a {
  border-left: 6px solid var(--darkBlue);
  height: 100%;
}

.vl-box-c {
  border-left: 6px solid var(--darkBlue);
  height: 50%;
}

.vl-box-d {
  border-left: 6px solid var(--darkBlue);
  height: 50%;
}

/* Grid */
.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, [col] 100px);
  grid-template-rows: repeat(2, [row] auto);
  padding: 50px;
  padding-left: 200px;
}

.box {
  /* background-color: #444; */
  color: var(--teal);
  border-radius: 10px;
  padding: 30px;
}

.box:hover {
  box-shadow: inset 0px 0px 8px var(--darkBlue), 0 0 15px var(--darkBlue);
}

.a {
  grid-column: col / span 2;
  grid-row: row;
  grid-template-columns: 5fr 5fr;
  text-align: right;
  font-size: 250%;
}

.b {
  grid-column: col 3 / span 2;
  grid-row: row;
  grid-template-columns: 5fr 5fr;
  text-align: left;
  font-size: 100%;
}

.c {
  grid-column: col / span 2;
  grid-row: row 2;
  grid-template-columns: 5fr 5fr;
  text-align: right;
  font-size: 250%;
}

.d {
  grid-column: col / span 2;
  grid-row: row 3;
  grid-template-columns: 5fr 5fr;
  text-align: right;
  font-size: 250%;
}

.e {
  grid-column: col 3 / span 2;
  grid-row: row 2;
  grid-template-columns: 1fr 1fr;
}

.f {
  grid-column: col 3 / span 2;
  grid-row: row 3;
  grid-template-columns: 4fr 4fr;
  padding-top: 90px;
}

.sub-e-container {
  display: grid;
  grid-template-columns: repeat(2, [col] 100px);
  grid-template-rows: repeat(1, [row] auto);
  gap: 5px 5px;
}

.sub-e-row1 {
  grid-column: 1 / 3;
}

/* 
.row2-1 {
  grid-column: 2 / 2;
  grid-row: row 2;
} */

/* 
.row2-2 {
  grid-column: 2 / 3;
  grid-row: row 2;
} */

/* media query */
/* desktop */
@media all and (min-width: 1024px) and (max-width: 1280px) {
  header {
    width: 75%;
  }

  main {
    left: 170px;
    top: 135px;
  }
  .wrapper {
    width: 100%;
  }
}
/* tablet - landscape */
@media all and (min-width: 768px) and (max-width: 1024px) {
  header {
    width: 75%;
  }

  main {
    left: 170px;
    top: 135px;
  }
  .wrapper {
    width: 100%;
  }

  .portfolio-heading {
    position: absolute;
    bottom: 63%;
    right: 4%;
    background-color: var(--teal);
    color: var(--white);
    padding: 20px 20px 20px 20px;
    box-shadow: inset 0px 0px 8px var(--darkBlue), 0 0 15px var(--darkBlue);
  }
}

/* phone */
@media all and (min-width: 480px) and (max-width: 768px) {
  header {
    width: 75%;
  }

  main {
    left: 170px;
    top: 135px;
  }
  .wrapper {
    width: 100%;
  }

  body {
    margin: 0;
    font-family: var(--helvetica);
    background-color: var(--lightPurple);
  }

  container {
    position: relative;
    width: 100%;
  }

  nav {
    background-color: var(--teal);
    font-family: var(--helvetica);
    overflow: hidden;
    width: 100%;
    box-shadow: inset 0px 0px 8px var(--darkBlue), 0 0 15px var(--darkBlue);
  }
  .avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-top: 0.8%;
    box-shadow: inset 0px 0px 8px var(--teal), 0 0 15px var(--teal);
  }
  .portfolio-heading {
    position: absolute;
    bottom: 63%;
    right: 4%;
    background-color: var(--teal);
    color: var(--white);
    padding: 20px 20px 20px 20px;
    box-shadow: inset 0px 0px 8px var(--darkBlue), 0 0 15px var(--darkBlue);
  }

  .img-portfolio {
    position: absolute;
    bottom: 63%;
    right: 4%;
    background-color: var(--teal);
    color: var(--white);
    padding: 20px 20px 20px 20px;
    box-shadow: inset 0px 0px 8px var(--darkBlue), 0 0 15px var(--darkBlue);
  }
}

/* phone landscscape & smaller */
@media all and (max-width: 480px) {
  header {
    width: 75%;
  }

  main {
    left: 170px;
    top: 135px;
  }
  .wrapper {
    width: 100%;
  }
  body {
    margin: 0;
    font-family: var(--helvetica);
    background-color: var(--lightPurple);
  }

  container {
    position: relative;
    width: 100%;
  }

  nav {
    background-color: var(--teal);
    font-family: var(--helvetica);
    overflow: hidden;
    width: 100%;
    box-shadow: inset 0px 0px 8px var(--darkBlue), 0 0 15px var(--darkBlue);
  }
  .avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-top: 0.8%;
    box-shadow: inset 0px 0px 8px var(--teal), 0 0 15px var(--teal);
  }
}
